{% extends "admin/base.html" %}
{% load static %}
{% block extrastyle %}
    {{ block.super }}
    %link{rel: "stylesheet", type: "text/css", href: "{% static 'bootstrap-css-only/css/bootstrap.min.css' %}"}
    %link{rel: "stylesheet", type: "text/css", href: '{% static "css/quicklinks.css" %}'}
{% endblock %}
{% block title %}{{ title }} | {{ site_title|default:_('Media server') }}{% endblock %}

{% block branding %}
    .extra-links
        %a{href: "{% url 'admin:media_admin_uploadimageproxymodel_changelist' %}"} Загрузить изображения
       | 
        %a{href: "{% url 'admin:media_admin_image_changelist' %}"} Список изображений
{% endblock %}

{% block nav-global %}{% endblock %}