{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list static %}

{% block extrastyle %}
  {{ block.super }}
  %link{rel: 'stylesheet', type: 'text/css', href: '{% static "admin/css/changelists.css" %}'}
  {% if cl.formset %}
    %link{rel: 'stylesheet', type: 'text/css', href: '{% static "admin/css/forms.css" %}'}
  {% endif %}
  {% if cl.formset or action_form %}
    %script{type: 'text/javascript', src: "{% url 'admin:jsi18n' %}"}
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    %style
      #changelist table thead th:first-child {width: inherit}
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
  <!-- static для upload-->

  %link{rel: "stylesheet", type: "text/css", href: "{% static 'css/upload.css' %}"}
  %link{rel: "stylesheet", type: "text/css", href: "{% static 'angular-mass-autocomplete/massautocomplete.theme.css' %}"}
  %script{src: "{% static 'angular/angular.min.js' %}"}
  %script{src: "{% static 'angular-sanitize/angular-sanitize.min.js' %}"}
  %script{src: "{% static 'angular-mass-autocomplete/massautocomplete.min.js' %}"}
  %script{src: "{% static 'angular-bootstrap/ui-bootstrap.min.js' %}"}
  %script{src: "{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"}
  %script{src: "{% static 'ng-flow/dist/ng-flow-standalone.js' %}"}
  %script{src: "{% static 'app.js' %}"}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
%script{type: "text/javascript"}
  (function($) {
    $(document).ready(function($) {
      $("tr input.action-select").actions();
    });
  })(django.jQuery);
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block content_title %}{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
.breadcrumbs
  %a{href: "{% url 'admin:index' %}"}
    {% trans 'Home' %}
  &rsaquo;
  %a{href: "{% url 'admin:app_list' app_label=cl.opts.app_label %}"}
    {{ cl.opts.app_config.verbose_name }}
  &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}

{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}


{% block content %}
  {% verbatim %}
  #content-main{
    ng-app: "app",
    flow-init: "config",
    ng-controller: "AddParamsCtrl"
  }
    .module#changelist
      .upload
        %br
        .row
          .col-md-9
            %p
              %a.btn.btn-default{flow-btn: None,  href: "#"}
                Выбрать файл(ы)
              %a.btn.btn-default{href: "#", flow-btn: None, flow-directory: None, ng-directory: None, ng-show: "$flow.supportDirectory"}
                Выбрать папку
          .col-md-3.text-right
            %p
              %a.btn.btn-default{ng-click: "$flow.cancel()"}
                Очистить область загрузки
        %br

        %table.table.table-striped.{flow-transfers: None}
          %thead
            %tr
              %th №
              %th Изображение
              %th Ключевые слова
              %th Название
              %th Статус
              %th Операции
          %tbody
            %tr{ng-repeat: "file in transfers", ng-class: "{danger: file.error}"}
              %td {{$index+1}}
              %td 
                %img.preview-image{flow-img: "file"}
              %td
                .dropstyle
                  .my-autocomplete{mass-autocomplete: None}
                    %input.form-control{
                      ng-model: "$flow.files[$index].tags",
                      mass-autocomplete-item: "autocomplete_options"
                    }
                  %br
                  %p
                    %a{
                      ng-click: "copyTopTags($index, $flow.files[$index].tags)",
                    } Копировать из предведущей записи
                  %p
                    %a{
                      ng-click: "copyTags($index, $flow.files[$index].tags)",
                    } Заполнить внизу списка
              %td
                %input.form-control{type: "text", ng-model: "$flow.files[$index]._title", ng-init: '$flow.files[$index]._title=getName($flow.files[$index].name)'}
              %td.status 
                %span{ng-show: '!file.error && file.isComplete()'} загружено
                %span{ng-show: 'file.error'} ошибка
                %span{ng-show: 'file.isUploading()'}
                  загрузка {{file.progress()*100}} %
              %td
                .check-state{ng-if: '!file.isUploading()'}
                  %p
                    %a.btn.btn-default{
                      ng-click: "file.retry()",
                    } Обновить
                .check-state{ng-if: 'file.isUploading()'}
                  %p
                    %a.btn.btn-default.disabled{
                    } Обновить

        %br

        .row
          .col-md-12.text-right
            %p
              %a.btn.btn-default{
                href: "#",
                ng-click: "retry_all()",
              } Сохранить все
            
        %br
  {% endverbatim %}
{% endblock %}


