{% load thumbor_tags %}
%div{
    class: 'embed-media-wrapper embed-image-wrapper embed-media-wrapper-{{ view.template_params.preset_name }}',
    id: 'embed-image-wrapper-{{ image.pk }}'
}
    .embed-media.embed-image{id: 'embed-image-{{ image.pk }}'}
        - if view.template_params.link
            %a{
                target: '_blank',
                rel: 'lightbox',
                title: '{{ image.title|default_if_none:"" }}',
                href: '{% thumbor_url image.url %}'
            }
                %img{
                    class: 'imagecache imagecache-{{view.template_params.preset_name}}',
                    src: '{% thumbor_url image.url width=view.template_params.preset.width height=view.template_params.preset.height filters=view.template_params.preset.filters %}',
                    alt: '{{ image.title|default_if_none:"" }}',
                    title: '{{ image.title|default_if_none:"" }}',
                    height: '{{ view.template_params.preset.height|default_if_none:"" }}',
                    width: '{{ view.template_params.preset.width|default_if_none:"" }}',
                }
        - else
            %img{
                class: 'imagecache imagecache-{{view.template_params.preset_name}}',
                src: '{% thumbor_url image.url width=view.template_params.preset.width height=view.template_params.preset.height filters=view.template_params.preset.filters %}',
                alt: '{{ image.title|default_if_none:"" }}',
                title: '{{ image.title|default_if_none:"" }}',
                height: '{{ view.template_params.preset.height|default_if_none:"" }}',
                width: '{{ view.template_params.preset.width|default_if_none:"" }}',
            }

    - if view.template_params.title
        .embed-media-title.embed-image-title{title: '{{ image.title|default_if_none:"" }}'}
            {{image.title|default_if_none:""}}

    - if view.template_params.description
        .embed-media-description.embed-image-description{title: '{{ image.description|default_if_none:"" }}'}
            {{image.description|default_if_none:""}}

