.preview-image {
    max-height: 100px;
}

/* сбросил django стили для select2 */
.upload .button {
    margin: 5px;
    padding: 10px;
}

.upload, input, textarea, select, p, li, tfoot td, tbody td, thead th{
    font-size: 14px !important;
}

.upload thead th, .upload tfoot td, .upload tbody td{
    vertical-align: top;
    padding: 10px !important;
}

.upload ul,  .upload ul li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.upload .ui-select-container {
    border: 1px solid #ccc;
}


/* селект в таблице */
.my-autocomplete {
    display: block;
    position: relative;
    height: 100%;
    width: 300px;
}

.ac-container {
    position: absolute !important;
    z-index: 999;
    width: 100%;
    top: 30px !important;
    left: 0px !important;
}

.modal-content {
    width: 300px;
    height: 280px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: relative;
    z-index: 999999 !important;
}

.modal-content a{
    font-size: 17px;
}

.status {
    width: 150px;
}